$brand-min-col: 100px;

$font-small: 0.875rem;
$font-medium: 1.25rem;
$font-large: 2.5rem;

$color-black: #000;
$color-gray: #666;
$color-gray-light: #dfdfdf;
$color-border: rgb(201, 201, 201);
$color-white: #fff;
$color-accent: #00c9c9;
