.brands-container {
    width: 100%;
    box-sizing: border-box;
}

.brands-grid{
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.brand-image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border: 1px solid rgb(201,201,201);
    background: #fff;
    font-size: 14px;
    overflow: hidden;
    color: #666;
}

.brand-image-wrapper img{
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.brand-item {
    width: 100%;
}

.brand-item.hidden {
    display: none;
}

.toggle-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #000;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.toggle-btn:hover {
    background: #dfdfdf;
    color: #000;
}

.grid-title{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

@media (max-width: 768px){
    .brands-grid{
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }
    .toggle-btn{
        grid-column: 1/-1;
    }
}

@media (min-width: 769px){
    .toggle-btn{
        grid-column: span 2;
    }
}




.brands-by-letter-container{
    display: flex;
    justify-content: center ;
    text-align: center;
    margin-top: 40px;
}

.brands-by-letter-grid {
    display: inline-block;
    column-count: 9;
    column-gap: 20px; 
    text-align: left;
}

.letter-block{
    break-inside: avoid;
    margin-bottom: 20px
}

.letter-header {
    font-size: 40px;
    color: #000;
    margin-bottom: 15px;
}

.letter-list {
    padding-left: 0;
    margin: 0;
}

.letter-item {
    line-height: 1.4em;
}

@media (max-width: 1024px){
    .brands-by-letter-grid{
        column-count: 7;
        column-gap: 15px;
    }
}

@media (max-width: 768px){
    .brands-by-letter-grid{
        column-count: 4;
        column-gap: 15px;
    }
}

@media (max-width: 480px){
    .brands-by-letter-grid{
        column-count: 2;
    }
}